body,
html {
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
}

body {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.wrapper {
  background: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5), -10px 0 10px 0 rgba(181, 173, 173, 0.5);
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.section-container {
  padding: 0 6%;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 138px;
  height: 70px;
  transform: translateX(-50%);
  padding: 0;
  z-index: 1;
}

.site-navigation {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover {
  color: #abcce1;
}

.site-navigation a:active {
  color: #b7b7b7;
}

.site-navigation li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 20%;
  margin: 14px -1px 15px;
}

.site-navigation-link-left {
  text-align: left;
}

.site-navigation-link-right {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  padding-left: 32px;
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  padding-right: 36px;
}

.background-block {
  padding-top: 76px;
  height: 432px;
  position: relative;
  background: url("../img/background.jpg");
  background-color: #ffffff;
}

.photo {
  margin: 0 auto;
  width: 458px;
}

.about {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
  padding-top: 33px;
  margin-top: 16px;
  margin-bottom: 56px;
}

.about h1 {
  text-transform: uppercase;
  font-size: 21px;
}

.about p {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 33px;
}

/*седона класс container*/
.page-index {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5), -10px 0 10px 0 rgba(181, 173, 173, 0.5);
}

.sedona-information {
  display: flex;
  margin-top: 19px;
}

.section-real-town {
  text-align: center;
  color: #FFFFFF;
  width: 400px;
  background: #81b3d2;
  padding: 30px;
  box-sizing: border-box;
}

.section-header {
  line-height: 21px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}

.section-number {
  margin: 25px 0;
}

.section-description {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 18px;
  line-height: 1.5;
}

.image-sedona {
  width: 800px;
  height: 257px;
}

.city-infrastructure {
  display: flex;
  background: #FFFFFF;
  padding-bottom: 6px;
}

.city-infrastructure h3 {
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 28px;
}

.city-infrastructure p {
  font-size: 14px;
  text-transform: uppercase;
  width: 290px;
  margin-left: 17px;
  line-height: 1.5;
}

.element-infrastructure {
  text-align: center;
  width: 33%;
  padding-top: 57px;
  padding-bottom: 62px;
  padding-right: 35px;
  padding-left: 37px;
}

.element-infrastructure img {
  width: 75px;
  height: 72px;
}

.section-sight-town {
  display: flex;
  flex-wrap: wrap;
  background: #eeeeee;
}

.image-canyon {
  width: 800px;
  height: 260px
}

.section-bridge {
  text-align: center;
  width: 400px;
  background: #81b3d2;
  color: #FFFFFF;
  padding: 31px;
  box-sizing: border-box;
}

.city-attractions {
  width: 33%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 41px;
  padding-left: 2px;
  padding-right: 2px;
  text-transform: uppercase;
}

.city-attractions h3 {
  font-size: 21px;
  text-transform: uppercase;
  padding-left: 106px;
  padding-right: 109px;
}

.city-attractions p {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 7px;
  line-height: 1.5;
}

.interested {
  margin: 0 auto;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 19px;
}

.info {
  width: 1200px;
  height: 235px;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
}

.info p {
  margin-top: 27px;
  text-transform: uppercase;
  line-height: 1.5;
}

.map {
  position: relative;
}

.main-footer {
  position: relative;
  bottom: 123px;
  width: 1200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5),-10px 0 10px 0 rgba(181, 173, 173, 0.5);
}

/*Форма поиска*/
.booking-form-content {
  padding: 55px;
}

.booking-form-header {
  width: 567px;
  height: 81px;
  background: #766357;
  border: none;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.entry,
.departure {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
  padding-right: 4px;
  margin-right: 14px;
}

.booking-form {
  position: absolute;
  width: 567px;
  height: 480px;
  z-index: 10;
  background: #FFFFFF;
  top: -80px;
  left: 315px;
}

/*ИКОНКА КАЛЕНДАРЯ*/
.input-icon-calendar {
  background: url("../img/calendar.svg") no-repeat center;
  content: " ";
  width: 21px;
  height: 22px;
  display: block;
  position: absolute;
  top: 7px;
  left:426px;
}

.input-icon-calendar:hover {
  background: url("../img/calendar_hover.svg") no-repeat center;
}

.input-icon-calendar:active {
  background: url("../img/calendar_focus.svg");
}

.booking-form span {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.booking-form .form-group {
  display: flex;
  position: relative;
  margin-bottom: 32px;
}

input.input-group {
  font-weight: bold;
  text-transform: uppercase;
  width: 331px;
  height: 35px;
  border: none;
  background: #f2f2f2;
  padding-left: 15px;
  cursor: pointer;
}

input.number-persons {
  width: 110px;
  height: 35px;
  border: none;
  background: #f2f2f2;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}

.group-of-people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 458px;
  box-sizing: border-box;
}

.hotel-grown input,
.hotel-children input {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 7px;
  text-align: center;
  cursor: pointer;
}

.booking-form-search1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.booking-form-search2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 54px;
}

.hotel-children {
  font-size: 0;
  margin-left: 29px;
}

.hotel-grown {
  font-size: 0;
  margin-left: 37px;
}

.hotel-grown button,
.hotel-children button {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 38px;
  color: #a9a9a9;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.hotel-grown button:hover {
  color: #000000;
}

.hotel-grown button:active {
  color: #81b3d2;
}

.hotel-children button:hover {
  color: #000000;
}

.hotel-children button:active {
  color: #81b3d2;
}

button.hotel-btn {
  width: 456px;
  background-color: #81b3d2;
  border: none;
  margin-top: 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
  padding: 18px;
  cursor: pointer;
}

.hotel-btn:hover {
  background-color: #669ec0;
}

.hotel-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.9);
}

/*Подвал*/
.footer-content {
  display: flex;
  text-align: center;
  height: 123px;
  text-transform: uppercase;
}

.footer-visit p {
  font-size: 21px;
  font-weight: bold;
}

.footer-visit {
  width: 400px;
  padding-top: 30px;
}

.footer-copyright {
  width: 400px;
}

/*Страница отелей */
.wrap {
  background: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  min-height: 217px;
  margin-top: -10px;
  margin-bottom: 123px;
  border-bottom: 1px solid #cccccc;
  box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5),-10px 0 10px 0 rgba(181, 173, 173, 0.5);
}

a.selected {
  color: #766357;
}

.colomn-one {
  text-transform: uppercase;
  width: 257px;
}

.colomn-two {
  text-transform: uppercase;
  width: 242px;
  margin-right: 240px;
}

.checkbox-custom {
  display: none;
}

.filter-item {
  display: block;
  margin-bottom: 31px;
  padding-left: 41px;
  position: relative;
}

span {
  position: absolute;
  left: 0;
  top: 0;
}

input[type="checkbox"] + span {
  background: url("../img/checkbox-on.svg") no-repeat;
  width: 27px;
  height: 23px;
  display: block;
}
.checkbox-custom[type="checkbox"]:checked + span {
  background: url("../img/checkbox-off.svg") no-repeat;
}
.filter .filter-name {
  margin-bottom: 27px;
}

.for-type a {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: #c4c1c1;
}

.for-type {
  padding-left: 12px;
  margin-top: 35px;
}

.for-type a:hover {
  color: #81b3d2;
  text-decoration: none;
}

.footer-social {
  display: flex;
  padding-left: 17px;
  padding-right: 21px;
  padding-top: 41px;
  padding-bottom: 38px;
  margin: auto;
}

.footer-social a {
  text-decoration: none;
}

.social-btn {
  display: flex;
  justify-content: space-around;
  width: 45px;
  height: 45px;
  background-color: #618ad2;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.social-btn img {
  width: 20px;
  height: 20px;
  padding-top: 12px;
}

.social-btn-tw {
  background: #81B3D2;
  margin-right: 6px;
}

.social-btn-fb {
  background: #81B3D2;
  margin-right: 6px;
}

.social-btn-you {
  background: #81B3D2;
}

.filter-range {
  width: 320px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 82px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.selection-form {
  background: url("../img/background1.jpg");
  background-color: #6b92b9;
  width: 1200px;
  height: 220px;
  padding: 30px 70px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5), -10px 0 10px 0 rgba(181, 173, 173, 0.5);
}

.filter {
  display: flex;
  color: #FFFFFF;
}

.range-controls {
  position: relative;
  height: 20px;
  margin-bottom: 14px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 33px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: flex;
  margin-top: 10px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.sorting li {
  display: inline;
  padding: 0;
  font-size: 15px;
  list-style: none;
  margin-right: 28px;
}

.name-hotels {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.sorting h1 {
  text-transform: uppercase;
  font-size: 21px;
  margin: 30px 42px 30px 74px;
}

.switch-up {
  margin-left: 472px;
  margin-top: 40px;
}

.apartments {
  display: flex;
  text-transform: uppercase;
  padding: 19px 73px;
  border-bottom: 1px solid #cccccc;
}

.apartments .hotels-img {
  width: 135px;
  margin-right: 30px;
  margin-top: 13px;
}

.stars-hotel {
  margin-left: auto;
}

.hotel-header {
  display: flex;
}

.hotel-name {
  margin-top: 6px;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}

.hotel-type {
  font-size: 14px;
  margin-right: 4px;
}

.hotel-info {
display: flex;
}

.hotel-bottom {
  display: flex;
}

.btn-read {
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  background: #81b3d2;
  color: #ffffff;
}

.btn-book {
  margin-left: 6px;
  padding: 7px 17px;
  font-weight: bold;
  background: #766357;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

/*цена*/
.hotel-price {
  font-size: 14px;
  margin-left: 35px;
}

.motel-price {
  font-size: 14px;
  margin-left: 60px;
}

.apartments-price {
  font-size: 14px;
  margin-left: 17px;
}

.hotel-rating {
  margin-top: 48px;
  padding-top: 5px;
  padding-left: 18px;
  padding-right: 9px;
  padding-bottom: 3px;
  width: 85px;
  background: #f2f2f2;
  font-size: 14px;
}

/*звезды отеля*/
.stars-four {
  margin-left: 25px;
  margin-top: 8px;
}

.stars-three {
  margin-top: 6px;
  margin-left: 50px;
}

.stars-two {
  margin-left: 73px;
}

.footer-contacts {
  width: 400px;
  margin-top: 36px;
}

.footer-copyright {
  display: flex;
}

.webcite {
  display: flex;
  margin-right: 9px;
  margin-top: 55px;
  margin-left: 100px;
}

.logo-academy {
  display: flex;
  margin-top: 46px;
}

.switch-down {
  background: url("../img/icons_blue_down.svg");
  width: 11px;
  height: 10px;
  margin-right: 73px;
  margin-top: 38px;
  margin-left: auto;
}

.switch-up {
  background: url("../img/icons_up_grey.svg");
  width: 11px;
  height: 10px;
}

.switch-down:hover {
  background: url("../img/icon-down-dir.svg");
  width: 11px;
  height: 10px;
}

.switch-up:hover {
  background: url("../img/icon-up-dir.svg");
  width: 11px;
  height: 10px;
}

.switch-down:active {
  background: url("../img/icons_blue_down.svg");
  width: 11px;
  height: 10px;
}

.switch-up:active {
  background: url("../img/icons_up_blue.svg");
  width: 11px;
  height: 10px;
}

.logo-academy a {
  display: inline-block;
  width: 113px;
  height: 39px;
  background: url("../img/logo-htmlacademy.svg");
}

.logo-academy a:hover {
  background-position: 0 39px;
}

.logo-academy a:focus {
  background-position: 0 78px;
}

/*Активное состояние*/
.booking-form-header:hover {
  background: #604E43;
}

.booking-form-header:active {
  background: #503E33;
  color: #928A85;
}

.social-btn:hover {
  background: #669EC0;
}

.social-btn:active {
  background: #5496BD;
  color: #88b6d1;
}

.btn img:hover {
  background: #87B7D4;
}

.form-group input:hover {
  background: #EBEBEB;
}

.form-group input:focus {
  background: #FFFFFF;
}

.btn-read:hover {
  background: #669ec0;
}

.btn-read:active {
  background: #5496bd;
}

.btn-book:hover {
  background: #604e43;
}

.btn-book:active {
  background: #503e33;
  color: #857871;
}

.navigation a:hover {
  color: #5496bd;
}

.navigation a:active {
  color: #b7b7b7;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #c7c7c7;
}

.price a {
  color: #b3d1e4;
}

.type-rating a:hover {
  color: #81b3d2;
}

.type-rating a:active {
  color: #000000;
}


