body, html{margin:0; padding:0}

.clearfix:after{
	content: " ";
	display: block;
	clear: both;
}

body{
	font-size:14px;
	font-family:"PT Sans", "Arial", sans-serif;
	box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5),-10px 0 10px 0 rgba(181, 173, 173, 0.5); 
}

.wrapper{
	background:#FFFFFF;
	width:1200px;
	margin:0 auto;
	margin-top: -10px;
	min-height:217px;
	box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5),-10px 0 10px 0 rgba(181, 173, 173, 0.5); 
	   
}
.navigation{
	position:relative;
}
.navigation a{
	color:#000000;
	text-decoration:none;
	font-weight: bold;
  text-transform: uppercase;
}
.navigation ul{
  display: flex;
	padding:0;
	margin:0;
	list-style:none;	
}
.navigation li{
	line-height:57px;
	margin:0 70px;
}
.navigation li:nth-child(3){
  margin-left: 324px;
}
.navigation li:nth-child(3),
.navigation li:nth-child(4){

}
.logo{
	position:absolute;
	left:531px;
	z-index:10;
}
.background-block{
	height: 507px;
	position: relative;
	background: url(../img/background.jpg);
	background-color: #ffffff;
}
.photo{
	position:absolute;
	left: 370px;
	width: 458px;
	height: 352px;
	top: 74px;
}
.about{
	width:500px;
	margin:0 auto;
	text-align: center;
	background:#FFFFFF;
	height: 150px;
	padding-top: 27px;
	margin-top: 16px;
}
.about h1{
	text-transform:uppercase;
	font-size:21px;
}
.about p{
	text-transform:uppercase;
	font-size:14px;
}
/*седона класс container*/
.page-index{
	width: 1200px;
	margin:0 auto;
	box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5),-10px 0 10px 0 rgba(181, 173, 173, 0.5);    

}
.sedona-information{
	display: flex;
}
.section-real-town{
	text-align:center;
	color: #FFFFFF;
	height:257px;
	width:400px;
	background:#81b3d2;    
	padding:46px;
	box-sizing:border-box;
}
.section-header{
	line-height: 21px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 600;
}
.section-number{
	margin:29px 0;
}
.section-description{
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
}
.image-sedona{
	width: 800px;
	height: 257px;
}
.city-infrastructure{
	display: flex;
	width:1000px;
	margin:0 auto;
	background:#FFFFFF;
	height:320px;    
}
.city-infrastructure h3{
	font-size: 21px;
}
.city-infrastructure p{
	font-size: 13px;
	text-transform: uppercase;
}
.motel{
	text-align:center;
	width:250px;
	margin-top:55px;
	margin-bottom:60px;
}
.food{
	width:266px;
	text-align:center;
	margin-top:60px;
	padding-left: 123px;
	padding-right: 125px;
	margin-bottom:60px;    
}
.souvenirs{
	width: 252px;
	text-align: center;
	margin-top:60px;
	margin-bottom:60px;
}
.section-sight-town{
	display: flex;
	flex-wrap: wrap;
	background:#f2f2f2;    
	
}
.image-canyon{
	float:left;
	width:800px;
	height:257px
}
.section-bridge{
	float:right;
	text-align:center;
	height:257px;
	width:400px;
	background:#81b3d2;
	color: #FFFFFF;
	padding:45px;
	box-sizing:border-box;
}
.area{
	float:left;
	width: 216px;
	text-align:center;
	margin-top: 36px;
	margin-bottom: 60px;
	margin-left:90px;
	text-transform: uppercase;
}
.area h3{
	font-size: 21px;
	text-transform: uppercase;
}
.beautiful-road{
	float:left;
	width: 217px;
	text-align:center;
	margin:36px 149px 40px 191px;
	text-transform: uppercase;
}
.beautiful-road h3{
	font-size: 21px;
	text-transform: uppercase;
}
.tour{
	float:left;
	width:270px;
	text-align:center;
	margin-top: 38px;
	margin-bottom: 60px;
	margin-right:48px;
	text-transform: uppercase;    
}
.tour h3{
	font-size: 21px;
	text-transform: uppercase;
}
.interested{
	width: 400px;
	margin: 0 auto;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 40px;
}
.info{
	clear:both;
	width:1200px;
	height:228px;
	margin:0 auto;
	background:#FFFFFF;
	text-align:center;
}
.info p{
	margin-top:40px;
	text-transform:uppercase;
}
.map{
	position:relative;
	width:1200px;
}
.search-form{
	position:relative;
	width:1200px;
	margin:0 auto;    
}
.main-footer{
	width: 1200px;
	margin: 0 auto;
	padding:0;
	height:120px;
	position: relative;
	background: rgba(255,255,255,0.9);
}

/*Форма поиска*/

.booking-form-content{
	padding:45px;
}
.booking-form-header{
  width: 569px;
  height: 86px;
  background: #766357;
  border: none;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
} 
.date{
	position:relative;
  font-weight: bold;
  text-transform: uppercase;
}
.people{
  float:left;		
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 22px;
  margin-left: 12px;
}


.booking-form{
	position: absolute;
	width: 568px;
	height: 480px;
	z-index: 10;
	background:#FFFFFF;
	top: -85px;
	left: 320px;
}
/*ИКОНКА КАЛЕНДАРЯ*/

.input-icon-calendar{
	background: url(../img/calendar.svg) no-repeat center;
	content: " ";
	width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 7px;
  right: 25px;
}
.booking-form label span{
	display: inline-block;
	width: 110px;
	font-weight: bold;
	text-transform: uppercase;
}
.booking-form .form-group{
	margin-top: 12px;
	margin-bottom: 30px;
}
.input-group{
	position: relative;  
}
input.input-group{
	width: 345px;
  height: 35px;
  border: none;
  background: #f2f2f2;
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  cursor: pointer;
}
input.number-persons{
	width: 110px;
  height: 35px;
  border: none;
  background: #f2f2f2;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}
.group-of-people{
	display:flex;
}
.hotel-grown input,
.hotel-children input{
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 7px;
  text-align: center;
}
label.booking-form-search1{
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
label.booking-form-search2{
  margin-top: 10px;
  margin-left: 86px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.hotel-children{
  font-size: 0;
}
.hotel-grown{
  font-size: 0;	
}
.hotel-grown button,
.hotel-children button{
  font-family: "PT Sans", sans-serif;
  width: 38px;
  font-size: 21px;
  font-weight: 700;
  color: #a9a9a9;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.hotel-btn{
  width: 463px;
  background-color: #81b3d2;
  border: none;
  margin-top: 54px;
  margin-left: 10px;
  margin-right:10px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}

.hotel-btn:hover{
  background-color: #669ec0;
}

.hotel-btn:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.9);
}


/*Подвал*/

.footer-content{
	display: flex;
	text-align:center;
	height:122px;
	text-transform: uppercase;    
}
.footer-visit p{
	font-size: 21px;
	font-weight: bold;
}
.footer-visit{
	width: 400px;
  padding-top: 30px;
}	
.footer-social{
	width: 400px;  
}
.footer-copyright{
	width: 400px;
}

/*Страница отелей */
a.selected{
	color:#766357;
}
.colomn-one{
	text-transform: uppercase;
	width: 240px;
}
.colomn-two{
	text-transform:uppercase;
	width:240px;
	margin-right:240px;
}
.filter .filter-name{
	margin-bottom:22px;
}
.filter-object-type .filter-item{
	margin-bottom:22px;
	display:block;
}
.filter-infrastructure .filter-item{
	margin-bottom:22px;
	display:block;
}
.filter-item input{
	display: none;
}
.filter-item span{
	display: inline-block;
}
.filter-item .checkbox-custom:before{
	background: url(../img/checkbox-off.svg) no-repeat;
	width: 27px;
	height: 23px;
	display: inline-block;
	content: "";
	background-size: contain;
}
.filter-item input:checked+.checkbox-custom:before{
	background: url(../img/checkbox-on.svg) no-repeat;
	width: 27px;
	height: 23px;
	display: inline-block;
	content: "";
	background-size: contain;
}
.for-type a{
	margin:0;
	padding:0;
	text-decoration:underline;
	color:#c4c1c1;
}
.for-type {
	padding-left: 12px;
	margin-top: 30px;
}
.for-type a:hover{
	color:#81b3d2;
	text-decoration:none;
}
.footer-social a{
	text-decoration:none;
}
.social-btn-vk{
	background:#81B3D2;
	padding:18px;
}
.social-btn-fb{
	background:#81B3D2;
	padding:18px;
	margin-left: 6px;
	margin-right: 2px;
}
.social-btn-you{
	background: #81B3D2;
	padding: 18px;
	margin-left: 4px;
}
.filter-range{
	width: 330px;
	color: #ffffff;
	text-transform: uppercase; 
}
.filter-range-title{
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}
.price-controls{
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	margin-left: 10px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}
.price-controls::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}
.price-controls label{
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}
.price-controls input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}
.selection-form{
	background: url("../img/background1.jpg");
	background-color: #6b92b9;
	width:1200px;
	height: 235px;
	padding: 30px 70px;
	box-sizing: border-box;
}
.filter{
	display: flex;
	color:#FFFFFF;
}
.range-controls{
	position: relative;
	height:20px;
	margin-bottom:20px;
}
.range-controls .scale{
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar{
	width: 80%;
	height: 2px;
	background: #ffffff;
}
.range-toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range-toggle-min{
	left: 0;
}
.range-toggle-max{
	left: 80%;
}
.range-toggle:hover{
	background: #1c4f80;
}
.btn-transparent{
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	width: auto;
	height: auto;
}
.btn-transparent:hover{
	color: #000000;
	background: #ffffff;
}
.sorting{
	display: flex;
	width: 1200px;
	height: 88px;
	margin: 0 auto;
	margin-top: 10px;
	background: #ffffff;
	border-bottom:1px solid #cccccc;
}
.sorting li{
	display: inline;
	padding: 0;
	font-size: 13px;
	list-style: none;
	margin-right: 35px;	
}
.name-hotels{
	width:1200px;
	margin:0 auto;
	background:#FFFFFF;
}
.sorting h1{
	text-transform: uppercase;
	font-size: 23px;
	margin:25px 25px 25px 70px;
}
.switch-up{
	margin-top: 41px;
	margin-right: 15px;    
}
.apartments{
	display: flex;
	text-transform: uppercase;
	font-size: 10px;
	padding: 22px 70px;
	border-bottom:1px solid #cccccc;
}
.apartments .hotels-img{
	width: 150px;
}
.apartments .hotels-block{
	width: 100%;
	margin-left: -150px;
	box-sizing: border-box;
	padding-left: 160px;
}
.hotel-header{
	display: flex;   
}
.hotel-name{
	font-weight: bold;
	font-size: 19px;
	cursor: pointer;  
}
.hotel-type{
	font-size:14px;
}
.hotel-info{
	margin-top:10px;
}
.hotel-bottom{
	margin-top:10px;
	display: flex;
}
.btn-read{
	padding: 8px 16px;
	font-weight: bold;
	cursor:pointer;
	font-size: 14px;
  text-decoration: none;
  background: #81b3d2;
  color: #ffffff;
}
.btn-book{
	margin-left: 10px;
	padding: 9px 16px;
	font-weight: bold;
	background: #766357;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	color:#ffffff;
}
/*цена*/
.hotel-price{
	font-size: 14px;
	margin-left: 38px;
}
.motel-price{
	font-size: 14px;
	margin-left: 64px;
}
.apartaments-price{
	font-size: 14px;
	margin-left: 21px;
}
.hotel-rating{
	margin-top: 33px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 4px;
  padding-bottom: 5px;
  width: 85px;
  background: #f2f2f2;
  font-size: 14px;
}
/*звезды отеля*/
.stars-four{
	margin-left: 16px;
}
.stars-three{
	margin-left: 36px;
}
.stars-two{
	margin-left: 56px;
}
.main-footer{
	box-shadow: 10px 0 10px 0 rgba(181, 173, 173, 0.5),-10px 0 10px 0 rgba(181, 173, 173, 0.5); 
}
.footer-contacts{
	width:400px;
	margin-top:36px;
}
.footer-social{
	width:400px;
	margin-top: 45px;
}
.footer-copyright{
	width:400px;
	margin:0 auto;
}
.webcite{
	float: left;
	margin-top: 56px;
	margin-bottom: 40px;
	margin-left: 102px;
}
.logo-academy{
	float: left;
	margin-top: 50px;
	margin-left: 8px;
}
.switch-down{
	background: url("../img/icons_down_grey.svg");
	width:11px;
	height: 10px;
	margin-right: 7px;
	margin-top: 41px;
	margin-left: 491px;
}
.switch-up{
	background: url("../img/icons_up_grey.svg");
	width:11px;
	height: 10px;
}
.switch-down:hover{
	background: url("../img/icon-down-dir.svg");
	width:11px;
	height: 10px;
}
.switch-up:hover{
	background: url("../img/icon-up-dir.svg");
	width:11px;
	height: 10px;
}
.switch-down:active{
	background: url("../img/icons_blue_down.svg");
	width:11px;
	height: 10px;
}
.switch-up:active{
	background: url("../img/icons_up_blue.svg");
	width:11px;
	height: 10px;
}
.logo-academy a{
	display:inline-block;
	width:113px;
	height:39px;
	background:url(../img/logo-htmlacademy.svg);
}
.logo-academy a:hover{
	background-position: 0 39px;
}
.logo-academy a:focus{
	background-position: 0 78px;    
}
/*Активное состояние*/
.booking-form-header:hover{
	background: #604E43;
} 
.booking-form-header:active{
	background: #503E33;
	color: #928A85;
}
button:hover{
	background: #669EC0;
}
button:active{
	background:#5496BD; 
	color:#94B9D2;
}
.social-btn:hover{
	background:#669EC0; 
}
.social-btn:active{
	background:#5496BD; 
	color:#88b6d1;
}
.btn img:hover{
   background-image:#87B7D4;
}
.form-group input:hover{
	background:#EBEBEB;
}
.form-group input:focus{
	background:#FFFFFF;
}
.btn-read:hover{
	background: #669ec0;
}
.btn-read:active{
	background: #5496bd;
}
.btn-book:hover{
	background: #604e43;
}
.btn-book:active{
	background:#503e33;
	color:#857871; 	
}
.navigation a:hover{
	color:#5496bd;
}
.navigation a:active{
	color:#b7b7b7;
}
.hotel-name:hover{
	color:#81b3d2;
}
.hotel-name:active{
	color:#c7c7c7;
}
.price a{
	color:#b3d1e4; 
}
.type-rating a:hover{
	color:#81b3d2;
}
.type-rating a:active{
	color:#000000;
}


