/* Icons from directory "" */
.icon-logo-htmlacademy,.icon-logo-htmlacademy\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-logo-htmlacademy-dims{width:32px;height:32px}
.icon-logo-htmlacademy_gray,.icon-logo-htmlacademy_gray\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-logo-htmlacademy_gray-dims{width:32px;height:32px}
.icon-logo-htmlacademy_hover,.icon-logo-htmlacademy_hover\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-logo-htmlacademy_hover-dims{width:32px;height:32px}